---
import { Image } from 'astro:assets';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import totaltemporada from '../../assets/totaltemporada.png';
import jornadas from '../../data/jornadas.json';
import '../../styles/jornadas-index.css';

// Importar las im치genes din치micamente
import presJ1 from '../../assets/jornadas/presJ1.png';
import presJ2 from '../../assets/jornadas/presJ2.png';
import presJ3 from '../../assets/jornadas/presJ3.png';
import presJ4 from '../../assets/jornadas/presJ4.png';
import presJ5 from '../../assets/jornadas/presJ5.png';

// Mapear las im치genes
const imageMap: Record<string, any> = {
	'/src/assets/jornadas/presJ1.png': presJ1,
	'/src/assets/jornadas/presJ2.png': presJ2,
    '/src/assets/jornadas/presJ3.png': presJ3,
    '/src/assets/jornadas/presJ4.png': presJ4,
    '/src/assets/jornadas/presJ5.png': presJ5
};

// Ordenar jornadas por fecha (m치s recientes primero)
const sortedJornadas = jornadas
	.map(jornada => ({
		...jornada,
		pubDate: new Date(jornada.pubDate),
		heroImage: imageMap[jornada.heroImage]
	}))
	.sort((a, b) => b.pubDate.valueOf() - a.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Estad칤sticas de la temporada:</h2>
			<section>
				<div class="table">
					<h3 class="table-title">Tabla total de temporada</h3>
					<img src={totaltemporada.src} alt="tabla de estad칤sticas totales de temporada" class="table-img"/>
				</div>
				<ul>
					{
						sortedJornadas.map((jornada) => (
							<li class={!jornada.available ? 'jornada-unavailable' : ''}>
								{jornada.available ? (
									<a href={`/jornadas/${jornada.slug}/`}>
										{jornada.heroImage && (
											<div class="jornada-thumb">
												<Image width={720} height={360} src={jornada.heroImage} alt="" />
											</div>
										)}
										<div class="content">
											<h4 class="title">{jornada.title}</h4>
											<p class="date">
												<FormattedDate date={jornada.pubDate} />
											</p>
										</div>
									</a>
								) : (
									<div>
										{jornada.heroImage && (
											<div class="jornada-thumb">
												<Image width={720} height={360} src={jornada.heroImage} alt="" />
											</div>
										)}
										<div class="content">
											<h4 class="title">{jornada.title}</h4>
											<p class="date">
												<FormattedDate date={jornada.pubDate} />
											</p>
										</div>
										<div class="coming-soon-badge">Pr칩ximamente
											<p style="margin-bottom: 0.2%; margin-top: 0.2%">游뎹 <span>{jornada.time}</span></p>
										</div>
									</div>
								)}
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
